<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.email %>|
  <%= link_to '新規投稿', ("/posts/new") %>
</p>

<% @user.posts.each do |post| %>
  <p>
    <%= post.date %>
    <%= post.track %>
    <%= post.race %>R
    <strong><%= post.horse %></strong>
    <%= post.comment1 %>
    <%= post.comment2 %>
    <%= post.comment3 %>
    <%= link_to("編集","/posts/#{post.id}/edit")%>
  </p>
<% end %>

<%= link_to 'Edit', ("users/login_form") %> |
<%= link_to 'Back', ("users/login_form") %> |
<%= link_to("Logout", "/logout", {method:"post"})%>
