<% @post.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_tag("/posts/#{@post.id}/update") do %>

<p>
  日付<input type="date" name="date" value="<%=@post.date%>">
  <select name="race">
  <option value="<%=@post.race%>"><%=@post.race%></option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  </select>R
</p>
<p>
  馬名<input type="text" name="horse" value="<%=@post.horse%>">
</p>
<p>
  コメント1<input type="text" name="comment1" value="<%=@post.comment1%>">
  コメント2<input type="text" name="comment2" value="<%=@post.comment2%>">
  コメント3<input type="text" name="comment3" value="<%=@post.comment3%>">
</p>
<p>
  <input type="submit" value="編集">
  <button type="button" onclick="history.back()">戻る</button>
</p>

<% end %>
